@model Urun
@{
    Layout = null;
}

<html>
<head>
    <title></title>
    <!-- Favicons -->
    <link href="~/AdminLayout/assets/img/favicon.png" rel="icon">
    <link href="~/AdminLayout/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="~/AdminLayout/https://fonts.gstatic.com" rel="preconnect">
    <link href="~/AdminLayout/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/AdminLayout/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminLayout/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/AdminLayout/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/AdminLayout/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/AdminLayout/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/AdminLayout/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/AdminLayout/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/AdminLayout/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="containet mt-2">
        <form asp-action="Guncelle" asp-controller="Urun" method="post">
           <input type="hidden" asp-for="UrunId"   />    
            <div class="form-group">

                <label>Urun adı: </label>
                <input type="text" asp-for="Baslik" class="form-control" />
                <label>Açıklama: </label>
                <input type="text" asp-for="Aciklama" class="form-control" />
                <label>ResimURL </label>
                <input type="text" asp-for="ResimURL" class="form-control" />

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
          
        </form>

    </div>
</body>
